/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
	margin: 0 auto;
	color: var(--main-color, #000);
	font-family: var(--font-base), sans-serif;
	font-size: 18px;
	background-color: var(--background-color, #fff);
	background-image: var(--background-image);
	background-size: cover;
	background-attachment: fixed;
	min-inline-size: 320px;
	max-inline-size: 1440px;
	min-block-size: 100dvb;
	font-variation-settings: 'wght' var(--font-weight-card-text);
}

.container {
	margin: 0 auto;
	inline-size: var(--width-block);
}

/* Кнопки(обощее) */

.button {
	position: relative;
	border: var(--border);
	font-family: var(--font-accent), sans-serif;
	font-size: 14px;
	background-color: var(--background-color, #fff);
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-animation::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--main-color, #000);
	transition: 0.5s ease-in-out;
	transform: scaleX(0);
	transform-origin: left center;
}

/* Header */
.header {
	margin-block: 100px;
	font-family: var(--font-accent), sans-serif;
	text-align: center;
}

.header__container {
	border: var(--border, 2px solid #000);
	padding-block-start: 136px;
	padding-block-end: 25px;
	text-transform: uppercase;
	background-color: var(--background-color, #fff);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.header__logo {
	font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__title {
	font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

/* Header-кнопки */

.header__theme-menu {
	display: flex;
	justify-content: center;
}

.theme-menu__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding-inline-start: 17px;
}

.theme-menu__button {
	position: relative;
	font-size: 14px;
	text-transform: uppercase;
	transition: 0.3s ease;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.theme-menu__button::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: currentColor;
	transition: 0.3s ease;
}

.theme-menu__button:disabled::before {
	content: '▶';
	position: absolute;
	left: -20px;
	color: currentColor;
	animation: slideInFromLeft 0.5s ease-in-out infinite alternate;
}

@media (width <= 420px) {
	.header__container {
		padding-block-start: 120px;
	}
}

/* Portfolio */

.portfolio__container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

/* Card */

.card {
	border: var(--border, 2px solid #000);
	background-color: var(--background-color, #fff);
}

.card__title {
	padding-inline: 10px;
	padding-block: 6px;
	font-variation-settings: 'wght' var(--font-weight-card-title);
}

.card__image-body {
	position: relative;
	border-top: var(--border, 2px solid #000);
	border-bottom: var(--border, 2px solid #000);
}

.card__image {
	vertical-align: middle;
}

.filter-contrast {
	filter: contrast(150%);
}

.filter-blur {
	filter: blur(1px);
}

.filter-saturate {
	filter: saturate(2);
}

.filter-hue-rotate {
	filter: hue-rotate(-90deg);
}

.filter-invert {
	filter: invert(0.7);
}

.filter-grayscale {
	filter: grayscale(0.2);
}

.filter-sepia-contrast-brightness {
	filter: sepia(1) contrast(1) brightness(110%);
}

.card__label {
	position: absolute;
	top: 24px;
	right: 3%;
	opacity: 0.5;
	color: var(--main-color, #000);
	font-family: var(--font-accent), sans-serif;
	font-size: 14px;
	text-shadow: -1px 0 var(--background-color-alt),
		0 1px var(--background-color-alt), 1px 0 var(--background-color-alt),
		0 -1px var(--background-color-alt);
	mix-blend-mode: hard-light;
}

@supports (
	(text-stroke: 1px var(--background-color-alt)) or
		(-webkit-text-stroke: 1px var(--background-color-alt))
) {
	.card__label {
		text-shadow: none;
		-webkit-text-stroke: 1px var(--background-color-alt);
		text-stroke: 1px var(--background-color-alt);
	}
}

.card__body {
	padding-inline: 25px;
	padding-block: 25px;
}

.card__text {
	display: flex;
	flex-direction: column;
	gap: 27px;
	margin-block-end: 25px;
	line-height: 21px;
	letter-spacing: 1px;
}

.card__icon-button {
	display: flex;
	justify-content: center;
	align-self: center;
	outline: 2px solid transparent;
	transition: outline 0.2s linear;
}

.card__interaction {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 7px;
}

.card__like-button {
	line-height: 90%;
	transition: 0.3s ease;
	min-inline-size: 130px;
	padding-block: 12px;
	padding-inline: 17px;
}

.button__text {
	position: relative;
	z-index: 1;
	color: var(--button-color);
	mix-blend-mode: difference;
	line-height: 88%;
}

/* feedback */

.feedback {
	padding-block: 50px 103px;
}

.feedback__button {
	gap: 8px;
	margin: 0 auto;
	padding-inline: 21px;
	padding-block: 15px;
}

.feedback__icon {
	--size: 21px;
	position: relative;
	z-index: 2;
	color: var(--button-color);
	inline-size: var(--size);
	block-size: var(--size);
	mix-blend-mode: difference;
}

.feedback__icon--window {
	--size: 39px;
	inline-size: var(--size);
	block-size: var(--size);
}

@media (width <= 420px) {
	.feedback__button {
		flex-direction: column;
		padding-block: 16px;
	}

	.feedback__icon {
		--size: 28px;
	}

	.feedback__icon--window {
		--size: 39px;
	}
}

/* Modal window */

.window {
	position: fixed;
	inset: 0;
	display: grid;
	border: var(--border, 2px solid #000);
	background-color: var(--background-color, #fff);
	padding: 30px;
	text-transform: uppercase;
	transition: opacity 0.3s ease-in-out;
}

.window:not([open]) {
	opacity: 0;
	pointer-events: none;
}

.window::backdrop {
	background-color: rgb(0 0 0 / 0.75);
}

.window__body {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
	max-width: 293px;
	padding-block-end: 30px;
}

.window__title {
	font-family: var(--font-accent), sans-serif;
	color: var(--main-color, #000);
	font-weight: var(--font-weight-card-text);
	font-size: 14px;
	line-height: 150%;
}

.window__close {
	text-transform: uppercase;
	position: relative;
	width: 100%;
	padding-block: 12.5px;
	padding-inline: 129px;
}

@media (width <= 420px) {
	.window__close {
		padding-inline: 112px;
	}
}
